# Entorno virtual de Python
venv/
ENV/
env/
*.pyc
__pycache__/

# Archivos de logs y reportes temporales
reports/*.json
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Configuraciones locales del editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Hugging Face / caches locales
.cache/